pkg
lib/i[3-9]86*
lib/x86*
*.swp
tags
.DS_Store
src/hash/*_hash.h
src/hash/language_hash.c
src/parsers/*.h
src/parser.o
test/unit/run_tests
doc/html
bin/
ruby/ohcount.so
ruby/ohcount_wrap.c
test/unit/run_tests.dSYM/

.deps/
configure
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
config.guess
config.sub
libtool
ltmain.sh
aclocal.m4
depcomp
install-sh
missing
m4/*
!m4/ax_pkg_swig.m4
